@import "../../styles/variables.scss";

.drawer {


    .drawerItems {

        .drawerItem {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            border-radius: 5px;
            margin-bottom: 5px;

            &:hover {
                background-color: $secondary-color;
            }

        }

        h3 {
            margin-top: 24px;
        }
    }
}

.mantine-Drawer-content {
    background-color: $background-color;
}

.mantine-Drawer-header {
    background-color: $background-color;
}